.body {
    position: relative;
    z-index: 1;
    scroll-behavior: smooth;
    overflow: hidden;
}

.overlay {
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.overlay .div {
    z-index: -1;
    background-color: var(--black);
    width: 25%;
    height: 100%;
    position: absolute;
}

.overlay .div:nth-child(1) {
    /* background: coral; */
    left: 0;
}

.overlay .div:nth-child(2) {
    /* background: deepskyblue; */
    left: 25%;
}

.overlay .div:nth-child(3) {
    /* background: lawngreen; */
    left: 50%;
}

.overlay .div:nth-child(4) {
    /* background: palevioletred; */
    left: 75%;
}

.section1 {
    background-image: url('../assets/backgrounds/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.section2 {
    background-image: linear-gradient(to right top, #030014, #14031a, #20061c, #2c061a, #370514, #460614, #540a12, #61110c, #7b1610, #951b14, #b12116, #cd2718);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}

.section2::-webkit-scrollbar {
    display: none;
}

.side-column {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 33rem;
    overflow-y: scroll;
}

.side-column::-webkit-scrollbar {
    display: none;
}

.languages {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.languages div span {
    position: relative;
    left: 30%;
    top: -50%;
}

.skills {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills div {
    width: 100%;
    margin-bottom: 1rem;
}

.skills div .skill-value {
    float: right;
}

.caption {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #c7c7c7;
}

.section3 {
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.section3 .thumbnails {
    position: absolute;
    width: 25%;
    height: 100%;
    color: var(--accent-color);
    font-size: 7rem;
    transition: 0.5s ease;
    text-decoration: none;
}

.section3 .thumbnails:nth-child(1) {
    left: 0;
    background-image: url('../assets/images/meme-creator2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    filter: blur(2px);
}

.section3 .thumbnails:nth-child(2) {
    left: 25%;
    background-image: url('../assets/images/rental-app2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 0;
    filter: blur(2px);
}

.section3 .thumbnails:nth-child(3) {
    left: 50%;
    background-image: url('../assets/images/freshh-fits2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 0;
    filter: blur(2px);
}

.section3 .thumbnails:nth-child(4) {
    left: 75%;
    background-image: url('../assets/images/ready-to-print2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 0;
    filter: blur(2px);
}

.section3 .thumbnails:hover,
.section3 .thumbnails:focus,
.section3 .thumbnails:active {
    filter: none;
}

.section3 .thumbnails:nth-child(4):hover,
.section3 .thumbnails:nth-child(4):focus,
.section3 .thumbnails:nth-child(4):active {
    filter: none;
}

@media screen and (max-width: 768px) {
    .section3 .thumbnails {
        width: 100%;
        height: 25%;
    }
    .section3 .thumbnails:nth-child(1) {
        left: 0;
        top: 0;
    }
    .section3 .thumbnails:nth-child(2) {
        left: 0;
        top: 25%;
    }
    .section3 .thumbnails:nth-child(3) {
        left: 0;
        top: 50%;
    }
    .section3 .thumbnails:nth-child(4) {
        left: 0;
        top: 75%;
    }
}

.stroke-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: var(--heading-font);
    position: relative;
    left: 8%;
    overflow: hidden;
    width: fit-content;
}

.name {
    color: var(--white);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    text-transform: uppercase;
    position: relative;
    left: 8%;
    overflow: hidden;
    font-size: 7rem;
    font-family: var(--fancy-font);
}

.letter {
    display: inline-block;
}

.letter:nth-child(1) {
    color: var(--accent-color);
    -webkit-text-stroke-color: var(--accent-color) !important;
    font-size: 8rem;
}


/* 
.display {
    margin: 1rem 0;
    background-image: url("../assets/images/display-picture.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
} */

.desc {
    font-size: 2rem;
    /* z-index: 1; */
}

.desc ul {
    list-style-type: none;
    margin: 0;
}

.desc ul li::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 1rem 0 -2rem;
    font-size: 1.7rem;
}

.lines {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line:nth-child(1) {
    width: 2px;
    height: 100%;
    top: 0;
    left: 25%;
}

.line:nth-child(2) {
    width: 100vw;
    height: 1px;
    top: 20%;
    left: -5%;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 5s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1)::after {
    animation-delay: 2s;
    top: -50%;
    left: 25%;
    height: 15vh;
    width: 100%;
    animation: dropdown 4s 0s infinite;
}

.line:nth-child(2)::after {
    animation-delay: 1.5s;
    top: 10%;
    left: 0%;
    height: 100%;
    width: 10vw;
    animation: slideright 6s 0s infinite;
}

@keyframes dropdown {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

@keyframes slideright {
    0% {
        left: -50%;
    }
    100% {
        left: 110%;
    }
}

.controls {
    z-index: 7;
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
}

.controls button {
    font-size: 1rem;
    cursor: pointer;
    color: var(--accent-color);
    background-color: transparent;
    outline: none;
    border: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent-color);
}

.controls button.fill {
    -webkit-text-fill-color: var(--accent-color);
}

.social {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    overflow: hidden;
    font-size: 3rem;
    overflow: hidden;
    height: 10vh;
}

.social a {
    z-index: 7;
    color: var(--black);
}

.social a:hover {
    color: var(--accent-color);
}

.mat-divider {
    margin: 0.5rem 0;
}