<div class="body">
    <div class="controls">
        <button [class.none]="currentSection == 0" (click)="changeSection(currentSection-1)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button> &nbsp;
        <button [class.none]="currentSection == 1" (click)="changeSection(currentSection+1)">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
    <div class="section1">
        <particles [style]="style" [width]="width" [height]="height" [params]="params"></particles>
        <div class="stroke-text" @lineReveal>
            Hello!
        </div>
        <div class="stroke-text" @lineReveal>
            I am
        </div>
        <div class="name" @nameReveal>
            <div class="letter" *ngFor="let letter of name">{{letter}}</div>
        </div>
        <div class="social bg-light" @bottomIn>
            <a href="https://github.com/ak-akshay" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/akshay-khandelwal-8a4094158/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/_akshay_khandelwal_/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="http://www.facebook.com/ak.akshaykhandelwal" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <!-- <a href="mailto:'kak.akshay17@gmail.com'" target="_blank">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a> -->
        </div>
    </div>
    <!-- <div class="overlay">
        <div class="left" [@slideTop]='section2'></div>
        <div class="right" [@slideBottom]='section2'></div>
    </div> -->
    <div class="section2 bg-dark" [@reveal]='section2'>
        <!-- <div class="display"></div> -->
        <div class="desc" [@leftIn]='section2'>
            MEAN stack developer <br> Java Programmer <br> Competitive Programmer <br>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <!-- <div class="line"></div> -->
        </div>
    </div>
</div>